$colors: (primary: #005dff,
    accent: #fff6db,
    primary-light: lighten(#005dff, 40%),
    primary-dark: darken(#005dff, 40%));

@function color($color-name) {
    @return map-get($colors, $color-name)
}

;

$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (('none', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('md', 1),
    ('lg', 2),
    ('xl', 4),
    ('xxl', 8),
);
$positions: (('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left'));

@function sizeValue($key, $value) {
    @return if($key=='none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);

    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue);
    }

    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue);
    }

    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);

        .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }

        .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
        }
    }
}

body {

    font-family: 'Montserrat';
    margin: 0;
    background: color(primary);
    padding-bottom: 15px;

    // #bg {
    //     clip-path: polygon(50% 0%, 100% 0, 100% 75%, 16% 100%, 0 100%, 0 0);
    //     background-color: color(primary);
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     z-index: -1;

    // }
}